/Nueva Carpeta/JavaApplication1/nbproject/private/
/Nueva Carpeta/JavaApplication1/build/
/JAVA PRUEBA/JavaApplication2/nbproject/private/
/JAVA PRUEBA/Ejmplo/nbproject/private/
/JAVA PRUEBA/Ejmplo/build/
/JAVA PRUEBA/Ejmplo/dist/
/JAVA PRUEBA/MiEjemplo/nbproject/private/
/JAVA PRUEBA/MiEjemplo/build/